/* estilo.css */
.label-titulo {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

.text-field {
    -fx-padding: 5px;
    -fx-pref-width: 200px;
}

.button {
    -fx-padding: 10px 20px;
    -fx-font-size: 16px;
}
.root {
    -fx-font-size: 14px;
}